/* Global styles */
body {
  font-family: 'Montserrat', sans-serif;
  background: #f5f5f5;
  color: #333;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}

header {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #606261;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 30px;
  text-align: center;
}

header img {
  height: 50px;
}

header h1 {
  color: #fff;
  margin: 0;
  font-size: 1.5em;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #0099A8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#loginForm {
  display: block;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

#loginForm input[type="password"] {
  padding: 10px;
  font-size: 1em;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#passwordPrompt {
  display: block;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

footer {
  margin-top: 50px;
  text-align: center;
}

/* Admin Console Page Styles */
#adminPage {
  display: none;
}

#playlistContainer {
  padding: 20px;
}

footer p {
  font-size: 12px;
}
